Final/sis258Final/xml-resources/web-service-references/Transacciones/wsdl/localhost_8080/WebService/Transacciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WS/">

<xs:element name="abonar" type="tns:abonar"/>

<xs:element name="abonarResponse" type="tns:abonarResponse"/>

<xs:element name="retirar" type="tns:retirar"/>

<xs:element name="retirarResponse" type="tns:retirarResponse"/>

<xs:complexType name="abonar">
<xs:sequence>
<xs:element name="idcliente2" type="xs:int"/>
<xs:element name="montoabonar" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="abonarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retirar">
<xs:sequence>
<xs:element name="idcliente1" type="xs:int"/>
<xs:element name="montoretirar" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retirarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>